body {
  font-family: Courier New, Courier, monospace;
}

h1 {
  margin: 20px 0  0 15.7%;
}

#meme-container {
  font-family: Courier New, Courier, monospace;
  margin: 20px auto;
  width: 1000px;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  width: 1000px;
  height: 500px;
}

#meme-text {
  color: white;
  font-size: 30px;
  overflow-wrap: break-word;
  padding: 20px;
  position: absolute;
  bottom: 6%;
  width: 550px;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 225px;
  text-shadow: 5px 5px 5px black;
}

#meme-image {
  width: 1000px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}

#buttons {
  margin-top: 3px;
}

#fire {
  background-color: red;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#fire:hover {
  background: linear-gradient(90deg , darkred 0% , maroon 100%);
}

#fire:active {
  transform: translate(0 , 0.2em);
}

#water {
  background-color: blue;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#water:hover {
  background: linear-gradient(90deg , darkblue 0% , navy 100%);
}

#water:active {
  transform: translate(0 , 0.2em);
}

#earth {
  background-color: green;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#earth:hover {
  background: linear-gradient(90deg , darkgreen 0% , rgb(0 , 80 , 0) 100%);
}

#earth:active {
  transform: translate(0 , 0.2em);
}

#carbon {
  background-color: black;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#carbon:hover {
  background: linear-gradient(90deg , rgb(17 , 17 , 17) 0% , rbb(14 , 14 , 14) 100%);
}

#carbon:active {
  transform: translate(0 , 0.2em);
}

#memes-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

#meme-1 {
  width: 150px;
  border: 1px solid black;
}

#meme-2 {
  width: 150px;
  border: 1px solid black;
}

#meme-3 {
  width: 150px;
  border: 1px solid black;
}

#meme-4 {
  width: 150px;
  border: 1px solid black;
}
