body {
  font-family: Courier New, Courier, monospace;
  background-color: rgb(17 , 17 , 17);
  color: white;
}

h1 {
  text-align: center;
}

.margin {
  margin-top: 10px;
}

#meme-input {
  text-align: center;
}

#text-input {
  width: 800px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid rgb(63 , 63 , 63);
  caret-color: rgb(63 , 63 , 63);
  background-color: rgb(33 , 33 , 33);
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}

#text-input:focus {
  border: 2px solid white;
  caret-color: white;
  color: white;
  box-shadow: 4px 4px 10px rgb(7 , 7 , 7);
}

#text-input:focus::placeholder {
  color: white;
}

#meme-container {
  font-family: monospace;
  margin: 20px auto;
  width: 1000px;
}

#meme-insert {
  background-color: rgba(128 , 128 , 128 , 0.438);
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  width: 1000px;
  height: 500px;
}

#meme-text {
  color: white;
  font-size: 30px;
  overflow-wrap: break-word;
  padding: 20px;
  position: absolute;
  bottom: 1%;
  width: 550px;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 225px;
  text-shadow: 5px 5px 5px black;
}

#meme-image {
  width: 1000px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}

#buttons {
  margin-top: 3px;
  margin-left: 10px;
  text-align: center;
}

#fire {
  background-color: red;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#fire:hover {
  background: linear-gradient(90deg , darkred 0% , maroon 100%);
}

#fire:active {
  transform: translate(0 , 0.2em);
}

#water {
  background-color: blue;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#water:hover {
  background: linear-gradient(90deg , darkblue 0% , navy 100%);
}

#water:active {
  transform: translate(0 , 0.2em);
}

#earth {
  background-color: green;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#earth:hover {
  background: linear-gradient(90deg , darkgreen 0% , rgb(0 , 80 , 0) 100%);
}

#earth:active {
  transform: translate(0 , 0.2em);
}

#carbon {
  background-color: black;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#carbon:hover {
  background: linear-gradient(90deg , rgb(17 , 17 , 17) 0% , rgb(14 , 14 , 14) 100%);
}

#carbon:active {
  transform: translate(0 , 0.2em);
}

#memes-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

#meme-1 {
  width: 150px;
  border: 1px solid black;
}

#meme-2 {
  width: 150px;
  border: 1px solid black;
}

#meme-3 {
  width: 150px;
  border: 1px solid black;
}

#meme-4 {
  width: 150px;
  border: 1px solid black;
}

#download {
  background-color: black;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0 , 0 , 0 , 0.4);
  color: white;
  border-radius: 4px;
}

#download:hover {
  background: linear-gradient(90deg , rgb(17 , 17 , 17) 0% , rgb(14 , 14 , 14) 100%);
}

#download:active {
  transform: translate(0 , 0.2em);
}

